 {% load static %}
 
 <!-- Jquery JS-->
    <script src="{% static "login_register/vendor/jquery/jquery.min.js" %}"></script>
    <!-- Vendor JS-->
    <script src="{% static "login_register/vendor/select2/select2.min.js" %}"></script>
    <script src="{% static "login_register/vendor/datepicker/moment.min.js" %}"></script>
    <script src="{% static "login_register/vendor/datepicker/daterangepicker.js" %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <!-- Main JS-->
    <script src="{% static "login_register/js/global.js" %}"></script>
    <script>
      alert(jdsjhdh)
    </script>

  

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="../../../../www.googletagmanager.com/gtag/jsa055?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<!-- end document-->