{% load static %}

{% include 'account_module/includes/header_refrence.html' %}

<body dir="rtl">
  <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">ویرایش رمزعبور</h2>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{form}}
            <div>
              <button class="btn btn--radius-2 btn--red" type="submit">ثبت نام</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'account_module/includes/footer_refrence.html' %}

</body>


</html>